html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    outline: none;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

.part_01,
.part_02,
.part_03,
.part_04,
.part_05 {
    width: 750px;
    margin: 0 auto;
}

.part_01 {
    height: 493px;
    background: #268175 url("../images/activity_02/img_01.png") center no-repeat;
}

.part_02 {
    height: 243px;
    background: #268175 url("../images/activity_02/img_02.png") center no-repeat;
}

.part_03 {
    height: 982px;
    position: relative;
    background: #268175 url("../images/activity_02/img_03.png") center no-repeat;
}

.part_04 {
    height: 1092px;
    position: relative;
    background: #268175 url("../images/activity_02/img_04.png") center no-repeat;
}

.part_05 {
    height: 697px;
    position: relative;
    background: #268175 url("../images/activity_02/img_05.png") center no-repeat;
}

.sign,
.rete,
.paket {
    left: 14%;
    width: 540px;
    position: absolute;
}

.sign {
    height: 680px;
    margin-top: 180px;
}

.sign_p1,
.sign_p2,
.sign_p3,
.sign_p4,
.sign_p5,
.sign_p6 {
    color: #B89362;
    text-align: center;
}

.sign_p1 {
    font-size: 28px;
}

.sign_ul {
    margin: 40px 0;
}

.sign_ul>li {
    width: 135px;
    float: left;
    text-align: center;
}

.qdbg,
.sign_bg{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.sign_bg{
    background: url("../images/activity_02/img_07.png") center no-repeat;
}

.qdbg{
    background: url("../images/activity_02/img_06.png") center no-repeat;
}

.sign_p2 {
    font-size: 28px;
    line-height: 2;
    margin-bottom: 10px;
}

.sign_button {
    margin-bottom: 20px;
}

.rete_btn,
.sign_btn1,
.sign_btn2 {
    width: 242px;
    height: 83px;
    color: #fff;
    font-size: 30px;
}

.sign_btn1 {
    background: url("../images/activity_02/img_08.png") center no-repeat;
}

.sign_btn2 {
    background: url("../images/activity_02/img_09.png") center no-repeat;
}

.sign_p3,
.sign_p4 {
    width: 242px;
    font-size: 22px;
}

.sign_p5,
.sign_p6 {
    font-size: 20px;
}

.time1,
.sign_btn1 {
    float: left;
}

.time2,
.sign_btn2 {
    float: right;
}

.paket {
    height: 640px;
    margin-top: 200px;
}

.paket_ul {
    padding: 55px 0;
}

.paket_ul>li {
    width: 100%;
    height: 202px;
    position: relative;
}

.paket_ul>li:first-of-type {
    margin-bottom: 20px;
    background: url("../images/activity_02/img_10.png") center no-repeat;
}

.paket_ul>li:last-of-type {
    background: url("../images/activity_02/img_11.png") center no-repeat;
}

.sign_p7,
.sign_p8 {
    top: 50px;
    right: 80px;
    width: 30px;
    height: 100px;
    font-size: 24px;
    color: #f5481a;
    line-height: 1;
    position: absolute;
}

.unchoose{
    color: #c8b79a;
}

.rete {
    margin-top: 230px;
    position: absolute;
}

.rete_button {
    margin-top: 60px;
    text-align: center;
}

.rete_btn {
    background: url("../images/activity_02/img_12.png") center no-repeat;
}

.mask {
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.get,
.end,
.mask,
.error,
.NoTerm,
.NoStart,
.NoBegin,
.award_01,
.award_02,
.award_03,
.success_01,
.success_02{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 750px;
    z-index: 9999;
    display: none;    
    margin: 0 auto;
    position: fixed;
}

.close_btn {
    top: 130px;
    right: 80px;
    width: 64px;
    height: 64px;
    position: absolute;
    background: url("../images/activity_02/close_btn.png") center no-repeat
}

.success_01,
.success_02 {
    top: 20%;
    height: 572px;
}

.success_01 {
    background: url("../images/activity_02/success_01.png") center no-repeat;
}

.success_02 {
    background: url("../images/activity_02/succsess_02.png") center no-repeat;
}

.award_01,
.award_02,
.award_03 {
    top: 10%;
    height: 1081px;
}

.award_01 {
    background: url("../images/activity_02/award_01.png") center no-repeat;
}

.award_02 {
    background: url("../images/activity_02/award_02.png") center no-repeat;
}

.award_03 {
    background: url("../images/activity_02/award_03.png") center no-repeat;
}

.get,
.end,
.NoTerm,
.NoStart{
    top: 20%;
    height: 652px;
}

.get{
    background: url("../images/activity_02/get.png") center no-repeat; 
}

.end{
    background: url("../images/activity_02/end.png") center no-repeat;
}

.error,
.NoBegin{
    top: 20%;
    height: 572px;
}

.error_text{
    width: 550px;
    margin: 0 auto;
    font-size: 36px;
    color: #ffc600;
    line-height: 1.5;
    text-align: center;
    padding-top: 350px;
   
}

.error{
    background: url("../images/activity_02/error.png") center no-repeat;
}

.NoTerm{
    background: url("../images/activity_02/NoTerm.png") center no-repeat;
}

.NoStart{
    background: url("../images/activity_02/NoStart.png") center no-repeat;
}

.NoBegin{ 
    background: url("../images/activity_02/NoBegin.png") center no-repeat;
}