html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

p{
    margin: 0;
}

a{
    color:#333;
    text-decoration: none;
}

ul,li,p,h1,h2,h3,h4,h5,h6,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}

.clearfloat:after{
    display:block;
    clear:both;
    content:'';
    visibility:hidden;
    height:0
    }
.clearfloat{
    zoom:1
}

.part_01,
.part_02,
.part_03,
.part_04,
.bottom{
    width: 750px;
    margin: 0 auto;
}

.part_01{
    height: 400px;
    background: #ffb030 url("../images/activity_01/img_01.png") center no-repeat;
}

.part_02{
    height: 476px;
    background: #ffb030  url("../images/activity_01/img_02.png") center no-repeat;
}

.part_03{
    height: 1275px;
    background: #ffb030  url("../images/activity_01/img_03.png") center no-repeat;
}

.part_04{
    height: 387px;
    background: #ffb030  url("../images/activity_01/img_04.png") center no-repeat;
}


.bottom{
    width: 750px;
    height: 148px;
    color: #333333;
    text-align: center;
    position: relative;
}

.btn{
    top: 20px;
    display: block;
    width: 522px;
    height: 148px;
    margin:0 auto;
    position: relative;
    background: url("../images/activity_01/img_05.png") center no-repeat;
}

.bottom>p:first-of-type{
    top: 20px;
    font-size: 24px;
    letter-spacing: 2px;
    position: relative;
}

.bottom>p:last-of-type{
    top: 100px;
    font-size: 20px;
    position: relative;
    letter-spacing: 2px;
}

.mask{
    width: 750px;
    height: 100%;
    background: #666;
    opacity: 0.5;
}

.mask,
.active,
.close_btn{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    position: fixed;
    display: none;
}


.active{
    top: 25%;
    width: 659px;
    height: 594px;
    margin: 0 auto;
    background: url("../images/activity_01/img_06.png") center no-repeat;
}

.close_btn{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    top: 80%;
    background: url("../images/activity_01/img_07.png") center no-repeat;
}


