.part_01 {
    width: 7.5rem;
    height: 13rem;
}

.part_01>img,
.part_02>img,
.part_03>img {
    width: 100%;
    height: 100%;
}

.part_02 {
    width: 7.5rem;
    height: 11.5rem;
    position: relative;
    background: #6b52ff;
    /* background: url("../images/active_bg.png") center no-repeat;
    background-size: 7.5rem 11.1rem; */
}

.part_03_title {
    bottom: 0;
    left: 0.5rem;
    font-size: 0.28rem;
    text-align: center;
    position: absolute;
}

.award {
    background: url("../images/active_bg.png") center no-repeat;
    background-size: 7.5rem 6.6rem;
}

.part_03 {
    width: 7.5rem;
    height: 7.6rem;
    position: relative;
}

.part_02_text {
    color: #fff;
    top: 1.9rem;
    font-size: 0.28rem;
    position: absolute;
    text-align: center;
    margin: 0 0.8rem;
}

.part_02_title {
    height: 4.4rem;
    background: url("../images/active_01.png") center no-repeat;
    background-size: 7.5rem 4.4rem;
}

.part_02_title>p {
    color: #fff;
    text-align: center;
    font-size: 0.28rem;
}

.part_02_title>p:first-of-type {
    padding-top: 2rem;
}

.award_btn {
    width: 2.7rem;
    height: 0.5rem;
    color: #fff;
    margin: 0 auto;
    margin-top: 0.35rem;
    line-height: 0.5rem;
    background: #af34fd;
    text-align: center;
    border-radius: 0.5rem;
}

.btn {
    width: 7.5rem;
    color: #fff;
    bottom: 0.5rem;
    font-size: 0.28rem;
    position: absolute;
}

.btn_01,
.btn_02,
.btn_03 {
    width: 2rem;
    height: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 0.8rem;
    background: #fc60cb;
}

.btn_01 {
    float: left;
    margin-left: 0.9rem;
}

.btn_02 {
    float: right;
    margin-right: 0.9rem;
}

.btn_03 {
    color: #fff;
    float: left;
    font-size: 0.28rem;
    bottom: 1.4rem;
    position: absolute;
    top: 5rem;
    margin-left: 1.6rem;
}

.notice {
    color: #a98cfc;
    font-size: 0.28rem;
    text-align: center;
}

.part_04 {
    width: 7.5rem;
    padding-bottom: 0.3rem;
    background: url("../images/activity_bg.png") center no-repeat;
    background-size: 7.5rem 5.6rem;
}

.part_04>p {
    line-height: 1.5;
    text-align: center;
    font-size: 0.28rem;
}

.part_05 {
    position: relative;
    background: #644aff;
}

.part_05_title {
    height: 2rem;
    text-align: center;
    font-size: 0.28rem;
    padding-top: 0.5rem;
}

.recond {
    height: 1.87rem;
    background: url("../images/active_02.png") center no-repeat;
    background-size: 7.5rem 1.87rem;
}

.record {
    width: 6.9rem;
    margin: 0 auto;
    border-radius: 10%;
}

.record>li {
    text-align: center;
}

.record>li>div {
    width: 2.3rem;
    height: 1.15rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    color: #fff;
    background: #ff8a4e;
    line-height: 1.15rem;
}

.content {
    font-size: 0.28rem;
    color: #4936bb;
    background: #fefee7;
    border-bottom: 1px solid #eaddb0;
}