html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

a{
    color:#333;
    text-decoration: none;
}

ul,li,p,h1,h2,h3,h4,h5,h6,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}

.clearfloat:after{
    display:block;
    clear:both;
    content:'';
    visibility:hidden;
    height:0
    }
.clearfloat{
    zoom:1
}

.banner_01,
.banner_02,
.banner_03{
    width: 750px;
    height: 536px;
}

.banner_01 {
    border-bottom: 2px solid #58a8ff ;
    background: #58a8ff url("../images/expand/expand1_01.png") center no-repeat;
}

.banner_02{
    border-bottom: 2px solid #a85be7;
    background: #a85be7 url("../images/expand/expand2_01.png") center no-repeat;
}

.banner_03{
    border-bottom: 2px solid #ffb33b;
    background: #ffb33b url("../images/expand/expand3_01.png") center no-repeat;
}

/* 注册表格 */

.register_01,
.register_02,
.register_03 {
    width: 750px;
    height: 700px;
    position: relative;
    margin-top: -2px;
}

.register_01 {
    background: #58a8ff;
    border-bottom: 2px solid #58a8ff;
}

.register_02{
    background: #a85be7;
    border-bottom: 2px solid #a85be7;
}

.register_03{
    background: #ffb33b;
    border-bottom: 2px solid #ffb33b;
}

form {
    width: 615px;
    margin: 0 auto;
    position: relative;
}

.register_ul>li {
    height: 90px;
    overflow: hidden;
    background: #fff;
    line-height: 90px;
    border-radius: 90px;
    margin-bottom: 35px;
}

.register_ul>li:nth-of-type(2) {
    width: 345px;
}

.register_ul>li:nth-of-type(2)>input {
    width: 60%;
}

.register_ul>li>div,
.register_ul>li>input {
    float: left;
}

.register_ul>li>input {
    border: none;
    outline: none;
    font-size: 30px;
    padding: 0 10px;
    line-height: 90px;
    letter-spacing: 1px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.register_ul>li>div {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.register_ul>li>div>img {
    padding-left: 20px;
}

.icon_01>img,
.icon_03>img,
.icon_04>img {
    width: 40px;
}

.icon_02>img {
    width: 50px;
}

/* 获取验证码按钮 */
.code_btn_01,
.code_btn_02,
.code_btn_03{
    color: #fff;
    top: 125px;
    left: 380px;
    width: 230px;
    height: 90px;
    outline: none;
    font-size: 28px;
    position: absolute;
    text-align: center;
    line-height: 87px;
    border-radius: 90px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.code_btn_01 {
    background: #ffa800;
    border: 1px solid #ffa800;
}

.code_btn_02{
    background: #4eaeff;
    border: 1px solid #4eaeff;
}

.draw_01 {
    width: 615px;
    height: 105px;
    color: #fff;
    margin: 40px auto;
    font-size: 36px;
    text-align: center;
    line-height: 105px;
    border-radius: 105px;
}

.draw_01 {
    background: #ff661b;
}


/* 注册协议 */

input[type="checkbox"] {
    display: none;
}

.deal>input:checked+label {
    border: 1px solid #fe9c1c;
}

.deal>input+label {
    top: 5px;
    width: 6px;
    height: 6px;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    border: 1px solid #e4e4e4;
}

.deal>input:checked+label::after {
    top: 3px;
    left: 0;
    width: 100%;
    line-height: 20px;
    font-size: 20px;
    color: #fe9c1c;
    content: "\2713";
    position: absolute;
    text-align: center;
    vertical-align: text-top;
}

.deal {
    text-align: center;
    font-size: 30px;
}


/* 内容 */

.content_01,
.content_02,
.content_03 {
    width: 750px;
    height: 1260px;
    padding-top: 150px;
    position: relative;
}

.content_01{
    background: #58a8ff;
    border-top: 5px solid #58a8ff;
    border-bottom: 5px solid #58a8ff;
}

.content_02{
    background: #a85be7;
    border-top: 5px solid #a85be7;
    border-bottom: 5px solid #a85be7;
}

.content_03{
    background: #ffb33b;
    border-top: 5px solid #ffb33b;
    border-bottom: 5px solid #ffb33b;
}


/* 右边的圈 */

.bg_01 {
    right: 0;
    bottom: -100px;
    z-index: 1;
    position: absolute;
}


/* 左边的圈 */

.bg_03 {
    left: 0;
    bottom: -60px;
    position: absolute;
}


/* 产品介绍 */

.bg_04,
.bg_07,
.bg_09{
    width: 590px;
    height: 116px;
    margin: 0 auto;
   
}

.bg_04{
    background: url("../images/expand/expand1_08.png") center no-repeat;
}

.bg_07{
    background: url("../images/expand/expand2_03.png") center no-repeat;
}

.bg_09{
    background: url("../images/expand/expand3_03.png") center no-repeat;
}

.content_ul {
    z-index: 999;
    width: 700px;
    height: 1135px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding-top: 50px;
}


/* 平台优势背景图 */

.bg_02,
.bg_06,
.bg_08{
    left: 50px;
    top: -58px;
    width: 590px;
    height: 116px;
    position: absolute;
}

.bg_02{
    background: url("../images/expand/expand1_03.png") center no-repeat;
}

.bg_06{
    background: url("../images/expand/expand2_02.png") center no-repeat;
}

.bg_08{
    background: url("../images/expand/expand3_02.png") center no-repeat;
}

/* 平台优势 */

.content_ul>li {
    float: left;
    width: 650px;
    margin: 0 25px;
    padding-top: 55px;
    padding-bottom: 38px;
    border-bottom: 1px dashed #ff9f65;
}

.content_ul>li:last-of-type {
    border-bottom: none;
}

.left_li>div:first-of-type {
    width: 210px;
    height: 190px;
    float: left;
}

.left_li>div:last-of-type {
    float: left;
    line-height: 2;
    padding-left: 25px;
    padding-top: 40px;
}

.img_01 {
    background: url("../images/expand/expand1_04.png") center no-repeat;
}

.img_02 {
    background: url("../images/expand/expand1_05.png") center no-repeat;
}

.img_03 {
    background: url("../images/expand/expand1_06.png") center no-repeat;
}

.img_04 {
    background: url("../images/expand/expand1_07.png") center no-repeat;
}

.right_li>div:first-of-type {
    float: left;
    line-height: 2;
    text-align: right;
    padding-top: 40px;
}

.right_li>div:last-of-type {
    width: 210px;
    height: 190px;
    float: right;
}

.right_li>div:first-of-type>p:first-of-type,
.left_li>div:last-of-type>p:first-of-type {
    font-size: 32px;
}

.right_li>div:first-of-type>p:last-of-type,
.left_li>div:last-of-type>p:last-of-type {
    font-size: 24px;
}


/* 产品说明 */

.product_01,
.product_02,
.product_03{
    width: 750px;
    height: 835px;
}

.product_01{
    background: #58a8ff;
    border-top: 5px solid #58a8ff;
}

.product_02{
    background: #a85be7;
    border-top: 5px solid #a85be7;
}

.product_03{
    background: #ffb33b;
    border-top: 5px solid #ffb33b;
}

.product_ul{
    width: 700px;
    height: 300px;
    margin: 50px auto 80px auto;
}

.product_ul>li{
    float: left;
    width: 223px;
    height: 225px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    position: relative;
    padding-top: 75px;
}

.product_ul>li:nth-of-type(2){
    margin: 0 15px;
}

.bg_05,
.bg_10{
    left: 22px;
    top: -13px;
    width: 178px;
    height: 81px;
    color: #562600;
    font-size: 30px;
    position: absolute;
    line-height: 70px;
    font-weight: bold;
}

.bg_05{
    background: url("../images/expand/expand1_10.png") center no-repeat;
}

.bg_10{
    background: url("../images/expand/expand3_04.png") center no-repeat;
}

.product_ul>li>p{
    line-height: 1.5;
}

.product_ul>li>p:nth-of-type(2n){
    font-size: 24px;
}

.product_ul>li>p:nth-of-type(2n+1){
    font-size: 42px;
}

.product_ul>li>p:nth-of-type(1),
.product_ul>li>p:nth-of-type(2){
    color: #ff9c00;
}

.product_ul>li>p:nth-of-type(3),
.product_ul>li>p:nth-of-type(4){
    color: #ff374a;
}

.product_ul>li>p:nth-of-type(3)>span{
    font-size: 30px;
}

.to_register{
    width: 615px;
    height: 105px;
    color: #fff;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    line-height: 105px;
    background: #ff661b;
    border-radius: 105px;
}

.note{
    color: #fff;
    font-size: 24px;
    padding-top: 90px;
    text-align: center;
}


/* 弹窗 */
.mask{
    width: 750px;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.mask,
.download,
.close_btn,
.fall_register,
.success_register{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    position: fixed;
    display: none;
}

/* 注册失败、成功、重复注册弹窗 */
.download,
.fall_register,
.success_register{
    top: 25%;
    width: 600px;
    height: 575px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
}

.top{
    width: 600px;
    height: 45px;
    background: url("../images/expand/mask_01.png") center no-repeat;
}

.bottom{
    width: 600px;
    height: 535px;
    position: relative;
}

.down_img_01,
.fall_img_01,
.register_img_01{
    left: 160px;
    width: 267px;
    height: 347px;
    margin: 0 auto;
    margin-top: -30px;
}

.down_img_01{
    background: url("../images/expand/mask_08.png") center no-repeat;
}

.register_img_01{
    margin-top: -60px;
    background: url("../images/expand/mask_03.png") center no-repeat;
}

.fall_img_01{
    margin-top: 50px;
    height: 229px;
    background: url("../images/expand/mask_02.png") center no-repeat;
}

.down_img_02,
.register_img_02{
    top: 327px;
    width: 294px;
    height: 40px;
    margin: 0 auto;
    margin-top: -30px;   
} 

.down_img_02{
    background: url("../images/expand/mask_05.png") center no-repeat;
}

.register_img_02{
    width: 418px;
    background: url("../images/expand/mask_04.png") center no-repeat; 
}

/* 提示 */
.error_01{
    color: #592d94;
    font-size: 26px;
    line-height: 4;
    text-align: center;
}

.error_02{
    color: #ff543c;
    font-size: 30px;
    line-height: 4;
    text-align: center;
    font-weight: bold;
}

/* 跳转按钮*/
.down_btn,
.fall_btn,
.success_btn{
    width: 302px;
    height: 60px;
    color: #fff;
    font-size: 26px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    border-radius: 60px;
    background: url("../images/expand/mask_06.png") center no-repeat;
}


/* 关闭按钮 */
.close_btn{ 
    top: 75%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: url("../images/expand/mask_07.png") center no-repeat;
}