.banner{
    width: 7.5rem;
    height: 5rem;
}

.banner>img{
    width: 100%;
    height: 100%;
}

.register{
    width: 100%;
    height: 7rem;
    background: #d1e1ff;
}

form{
    width: 6.15rem;
    margin: 0 auto;
    position: relative;
}

.register_ul>li{
    height: 0.9rem;
    background: #fff;
    line-height: 0.9rem;
    border-radius: 0.9rem;
    margin-bottom: 0.35rem;
}

.register_ul>li:nth-of-type(2){
    width: 3.45rem;
}

.register_ul>li:nth-of-type(2)>input{
    width: 60%;
}

.register_ul>li>div,
.register_ul>li>input{
    float: left;
}

.register_ul>li>input{
    border: none;
    outline: none;
    height: 0.85rem;
    font-size: 0.3rem;
    padding-left: 0.1rem;
    letter-spacing: 0.01rem;
}

.register_ul>li>div{
    width: 0.9rem;
    height: 0.9rem;
}

.icon_01>img{
    width: 0.35rem;
    margin: 0 0 0.1rem 0.4rem;
}

.icon_02>img{
    width: 0.5rem;
    margin: 0 0 0.15rem 0.3rem;
}

.icon_03>img{
    width: 0.4rem;
    margin: 0 0 0.17rem 0.4rem;
}

.icon_04>img{
    width: 0.4rem;
    margin: 0 0 0.17rem 0.4rem;
}

.code_btn{
    top: 1.25rem;
    left: 3.8rem;
    width: 2.3rem;
    height: 0.87rem;
    background: #fff;
    position: absolute;
    text-align: center;
    line-height: 0.87rem;
    font-size: 0.3rem;
    border-radius: 0.05rem;
}