.invite_top{
    width: 7.5rem;
    height: 4.45rem;
    background: url("../images/invite_top.png") center no-repeat;
    background-size: 100% 100%;
}

.invite_middle{
    width: 7.5rem;
    height: 4rem;
    background: url("../images/invite_01.png") center no-repeat;
    background-size: 100% 100%;
}

.invite_bottom{
    width: 7.5rem;
    height: 11.3rem;
    background: url("../images/invite_02.png") center no-repeat;
    background-size: 100% 100%;
}

.invite_title{
    width: 7.5rem;
    padding: 0.5rem 0;
    background: #62c6ff;
}

.invite_btn{
    color: #fff;
    display: block;
    width: 6rem;
    height: 0.8rem;
    margin: 0 auto;
    font-size: 0.36em;
    border-radius: 0.4rem;
    text-align: center;
    line-height: 0.8rem;
    letter-spacing: 0.01rem;
    background: url("http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-h5/images/invite_btn.png") center no-repeat;
}

.invite_text{
    color: #fff;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.25rem;
}
