html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

a{
    color:#333;
    text-decoration: none;
}

ul,li,p,h1,h2,h3,h4,h5,h6,dt,dd{
    margin:0;
    padding:0;
    list-style:none;
}

.clearfloat:after{
    display:block;
    clear:both;
    content:'';
    visibility:hidden;
    height:0
    }
.clearfloat{
    zoom:1
}

.banner{
    width: 750px;
    height: 395px;
    background: #f8c633 url("../images/reteHike/img_01.png") center no-repeat;
}

.part_01{
    width: 750px;
    height: 782px;
    background: #f8c633 url("../images/reteHike/img_02.png") center no-repeat;
}

.part_02{
    width: 750px;
    height: 1666px;
    background: #f8c633 url("../images/reteHike/img_03.png") center no-repeat;
}

.part_03{
    width: 750px;
    height: 962px;
    background: #f8c633 url("../images/reteHike/img_04.png") center no-repeat;
}

.title{
    top: 1480px;
    width: 750px;
    height: 186px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.btn{
    width: 609px;
    height: 146px;
    color: #fff;
    margin: 0 auto;
    line-height: 96px;
    font-size: 40px;
    background: url("../images/reteHike/img_05.png") center no-repeat;
}

.title>p{
    color: #fd4c18;
    font-size: 24px;
}

.text{
    color: #fd4c18;
    padding: 165px 50px 0px 50px;
}

section{
    margin-bottom: 55px;
}

section>p:first-of-type{
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
}

section>p:last-of-type{
    line-height: 1.5;
    font-size: 24px;
}

.mask{
    width: 750px;
    height: 100%;
    background: #666;
    opacity: 0.5;
}

.mask,
.mask_bg,
.close_btn{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999;
    position: fixed;
    display: none;
}

.mask_bg{
    top: 30%;
    width: 640px;
    height: 520px;
    margin: 0 auto;
    background: url("../images/reteHike/img_06.png") center no-repeat;
}

.close_btn{ 
    top: 75%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    background: url("../images/expand/mask_07.png") center no-repeat;
}